name: CI/CD Eduvoka

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
      - development

env:
  NODE_VERSION: "25"


jobs:
  pr-check:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate branch name
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          if [[ ! "$BRANCH_NAME" =~ ^(feature|fix|hotfix|release|beta|docs)/[a-z0-9._-]+$ ]]; then
            echo "Invalid branch name"
            exit 1
          fi

      - name: Validate CHANGELOG
        run: |
          test -f CHANGELOG.md || exit 1
          git diff origin/${{ github.base_ref }} --name-only | grep CHANGELOG.md || exit 1
          grep -Eq "^## \\[[0-9]+\\.[0-9]+\\.[0-9]+(-beta\\.[0-9]+|-rc\\.[0-9]+)?\\]" CHANGELOG.md || exit 1

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prisma generate
        run: pnpm prisma generate

      - name: Build
        run: pnpm build


  deploy-staging:
    if: github.event_name == 'push' && github.ref == 'refs/heads/development'
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL_STAGING }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prisma migrate (staging)
        run: pnpm prisma migrate deploy

      - name: Build
        run: pnpm build

      - name: Deploy to Vercel (Staging)
        run: |
          pnpm dlx vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
          pnpm dlx vercel build --token=${{ secrets.VERCEL_TOKEN }}
          pnpm dlx vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

